.dafualt {
  --font-Gellix: "Gellix", sans-serif;
  --containerPadding: 0 9.920634920634921vw;
  --containerMarginTop: 9.920634920634921vw;
  --backgroundContainerPadding: 6.510416666666667vw 9.765625vw;
  --mobileContainerMarginTop: 16vw;
  --mobileContainerPadding: 0 6.4vw;
  --mobileBackgroundContainerPadding: 10.666666666666668vw 6.4vw;
  --borderRadius: 0.6613756613756614vw;
  --mobileBorderRadius: 2.666666666666667vw;
}

.container {
  padding: var(--containerPadding);
  margin-top: var(--containerMarginTop);

  display: grid;
  grid-template-columns: 38.095238095238095vw 38.095238095238095vw;
  gap: 3.968253968253968vw;
}

.imageContainer {
  height: 39.682539682539684vw;
  position: relative;
  display: flex;
}

.bigImage {
  width: 38.095238095238095vw;
  height: 39.682539682539684vw;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media only screen and (max-width: 767px) {
  .container {
    padding: var(--mobileContainerPadding);
    margin-top: var(--mobileContainerMarginTop);

    display: grid;
    grid-template-columns: 87.2vw;
    grid-template-rows: 90.66666666666666vw 93.33333333333333vw;
    gap: 8vw;
  }

  .imageContainer {
    height: 90.66666666666666vw;
  }

  .bigImage {
    width: 87.2vw;
    height: 90.66666666666666vw;
  }

  .contentContainer {
    text-align: center;
    align-items: center;
  }

  .contentContainer h2 {
    margin-bottom: 4vw !important;
  }

  .contentContainer p {
    padding-bottom: 8vw !important;
  }
}
