

.container7 {
    margin-top: var(--containerMarginTop);
    padding: var(--containerPadding);
  }
  
  .faqContainer {
    display: grid;
    grid-template-columns: 25vw 52.51322751322751vw;
    gap: 2.6455026455026456vw;
  }
  
  .firstCol {
  }

  .title{
    margin-top: 1.984126984126984vw;
  }
  
  .secondCol {
    display: flex;
    flex-direction: column;
  }
  
  .faqDataCard {
    display: flex;
    gap: 1.984126984126984vw;
    padding: 1.984126984126984vw 0;
    border-top: 0.5px solid #ECECF1;
    border-bottom: 0.5px solid #ECECF1;
  }
  
  .questionAnswerContainer {
    display: flex;
    flex-direction: column;
    gap: calc(1.984126984126984vw / 2);
  }
  
  .questionContainer {
    display: flex;
    justify-content: space-between;
  }
  
  .plusIcon {
    width: 1.3227513227513228vw;
    height: 1.3227513227513228vw;
    margin-right: 1.0582010582010581vw;
    position: relative;
  }
  
  .plusIcon img {
    position: absolute;
    width: 1.3227513227513228vw;
    height: 1.3227513227513228vw;
  }
  
  .answerContainer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
  
  .answerContainer.visible {
    max-height: 200px;
  }
  
  /* Container7 end */

  @media only screen and (max-width: 767px) {
    /* container9 */

  .container7 {
    padding: var(--mobileContainerPadding);
    margin-top: var(--mobileContainerMarginTop);
  }

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .faqContainer {
    grid-template-columns: 1fr;
  }

  .firstCol {
    display: flex;
    justify-content: center;
  }

  .firstCol h2 {
    width: 64vw !important;
    text-align: center !important;
  }

  .faqDataCard {
    padding: 4vw 0;
    gap: 2.666666666666667vw;
  }

  .questionContainer h3 {
    width: 72.53333333333333vw !important;
  }

  .plusIcon {
    width: 4vw;
    height: 4vw;
    position: relative;
  }

  .plusIcon img {
    width: 4vw;
    height: 4vw;
    position: absolute;
  }

  .answerContainer p {
    width: 72.53333333333333vw !important;
    margin-top: 1.3333333333333335vw;
  }
  }